/* .LinksTable .ReactVirtualized__Table__Grid {
  background: rgba(255,255,255,0.7)
}

.LinksTable .ReactVirtualized__Table__rowColumn.no-ellipsis {
  text-overflow: unset;
}

.links-table--row {
  align-items: center;
}

.links-table--row--cell:nth-child(1) {
  flex: 0 0 34px;
}

.links-table--row--cell:nth-child(2) {
  flex: 1 1 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0px;
}

.links-table--row--cell:nth-child(3) {
  flex: 0 1 420px;
  text-overflow: unset;
  overflow: auto;
} */

.links-table {
  background: rgba(255,255,255,0.7);
  overflow-x: hidden;
}

.header-grid,
.row-grid {
  display: grid;
  grid-template-columns: 5% 30% 1fr;
  width: 100%;
  column-gap: 1rem;
  row-gap: 0.5rem;
}

@media (max-width: 600px){
  .header-grid,
  .row-grid {
    grid-template-columns: 5% 20% 1fr;
  }
}

.grid-cell-header,
.grid-cell-row {
  /* padding: 0 0.5rem; */
  /* column-gap: 1rem; */
}

.grid-cell-header:nth-child(1),
.grid-cell-row:nth-child(1) {
  padding: 0;
}
.grid-cell-header:nth-child(2),
.grid-cell-row:nth-child(2) {
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.grid-cell-header:nth-child(3),
.grid-cell-row:nth-child(3) {
  padding: 0;
  /* margin-left: 0.5rem; */
  text-overflow: unset;
  overflow: auto;
  min-width: 0;
  text-align: left;
  align-items: left;
  vertical-align: center;
}

/* .links-table--row--cell {
  display: flex;
  flex-direction: row;
  align-items: center;
} */
